.btn-primary {
  --tw-bg-opacity: 1;
  background-color: hsla(var(--p) / var(--tw-bg-opacity, 1));
  --tw-border-opacity: 1;
  border-color: hsla(var(--p) / var(--tw-border-opacity, 1));
  --tw-text-opacity: 1;
  color: hsla(var(--pc) / var(--tw-text-opacity, 1));
}
.btn-primary:focus-visible {
  box-shadow: 0 0 0 2px hsl(var(--b1)), 0 0 0 4px hsl(var(--p));
}
.btn {
  border-color: transparent;
  border-color: hsla(var(--n) / var(--tw-border-opacity, 1));
  cursor: pointer;
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition-property: background-color, border-color, color, fill, stroke,
    opacity, box-shadow, transform;
  transition-duration: 0.15s;
  transition-duration: 0.2s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: var(--rounded-btn, 0.5rem);
  height: 3rem; /* 48px */
  font-size: 0.875rem; /* 14px */
  line-height: 1.25rem; /* 20px */
  line-height: 2;
  padding-left: 1rem; /* 16px */
  padding-right: 1rem; /* 16px */
  min-height: 3rem; /* 48px */
  font-weight: 600;
  text-transform: uppercase;
  text-transform: var(--btn-text-case, uppercase);
  border-width: var(--border-btn, 1px);
  -webkit-animation: button-pop var(--animation-btn, 0.25s) ease-out;
  animation: button-pop var(--animation-btn, 0.25s) ease-out;
  --tw-bg-opacity: 1;
  background-color: hsla(var(--n) / var(--tw-bg-opacity, 1));
  --tw-border-opacity: 1;
  --tw-text-opacity: 1;
  color: hsla(var(--nc) / var(--tw-text-opacity, 1));
}
.btn:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}
.btn:active:focus {
  -webkit-animation: none;
  animation: none;
  transform: scale(var(--btn-focus-scale, 0.95));
}
.btn:active:hover {
  -webkit-animation: none;
  animation: none;
  transform: scale(var(--btn-focus-scale, 0.95));
}
.btn:hover {
  --tw-bg-opacity: 1;
  background-color: hsla(var(--nf) / var(--tw-bg-opacity, 1));
  --tw-border-opacity: 1;
  border-color: hsla(var(--nf) / var(--tw-border-opacity, 1));
}
.btn:focus-visible {
  box-shadow: 0 0 0 2px hsl(var(--b1)), 0 0 0 4px hsl(var(--nf));
}

.btn-link {
  background-color: transparent !important;
  border-color: transparent !important;
  --tw-text-opacity: 1 !important;
  color: hsla(var(--p) / var(--tw-text-opacity, 1)) !important;
}
.btn-link:focus-visible {
  box-shadow: 0 0 0 2px currentColor;
}
.btn-sm {
  height: 2rem; /* 32px */
  font-size: 0.875rem; /* 14px */
  line-height: 1.25rem; /* 20px */
  line-height: 2rem; /* 32px */
  padding-left: 0.75rem; /* 12px */
  padding-right: 0.75rem; /* 12px */
  min-height: 2rem; /* 32px */
}

html,
body {
  margin: 0;

  height: 100%;
}

#__nuxt,
#__layout {
  @apply h-full;
}

.mod {
  @apply top-0
      left-0
      h-full
      z-999
      fixed
      flex
      items-center
      justify-center
      bg-base-300 bg-opacity-40
      invisible

      w-full;
}

.mod-body {
  @apply bg-base-100 rounded-lg p-10 shadow-lg z-1000;
}

.open {
  @apply !visible;
}
